
.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 10%;
  width: 100%;
  color: white;
  background-color: #AB2A19;
  font-size: 30px;
  font-weight: 700;
}

.main {
  height: 90%;
  width: 100%;
  display: flex;
}

.inventory-display {
  width: 60%;
  height: 100%;
}

.form-display {
  width: 40%;
  height: 400px;
  background-color: #3ad886;
}

.button-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.product-display {

}

.img {
  width: 500px;
}